<div>
    <div class="pozadina1">
        <div class="container mt-3 p-4">
            <p>Firmu "GEO-DATA MO DOO" odlikuje posvećenost poslu, profesionalnost u odnosima sa klijentima kao i profesionalnost u izvrsavanju geodetskih radova.
            </p>
            <p>Precizno merenje, precizna dokumentacija, to su usluge koje možete očekivati od svog geodeta iz Smedereva. Miloš Obradović je ovlašćeni inženjerski konsultant za geodetske poslove i vaš partner za katastarske premere, principe projekta, premere
                objekata, geoinformacione sisteme i prateće savete i podršku.</p>
            <p> Kvalitet i poštovanje rokova su naš prioritet.</p>
        </div>
    </div>
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active herowidge">
                <img src="/assets/Foto/hero11.jpg" class="d-block w-100 pic" alt="Geometar">
            </div>
            <div class="carousel-item herowidge">
                <img src="/assets/Foto/hero5.jpg" class="d-block w-100 pic" alt="U prirodi">

            </div>
            <div class="carousel-item herowidge">
                <img src="/assets/Foto/hero4.jpg" class="d-block w-100 pic" alt="Na gradilistu">

            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="pozadina">
        <div class="container p-4">
            <h4>Naše usluge</h4>
            <p>Sve poslove koje preduzimamo za fizička lica ili kompanije obavljamo sa visokim nivoom preciznosti i pouzdanosti. Nudimo precizne geoinformacione sisteme i kreiramo osnove projekta kao što su planovi parifikacije, inventari i planovi fasada,
                kao i planovi lokacija i nadmorske visine. Geo-Data MO je vaš partner za katastarske premere i premere objekata. Ovaj tim će vas rado savetovati o kupovini i prodaji imovine i nadgledati projekte koji su u toku. Individualno odgovaramo
                na vaše zahteve i nudimo vam precizan i fleksibilan rad u Smederevu i okolini.</p>
        </div>

    </div>

</div>