.pozadina {
    background-color: #B3C1DF;
}

.herowidge {
    max-height: 30em;
}

.pic {
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
    position: relative;
}