<div class="pozadina1">
    <div class="container mt-3 p-4">
        <p>Firmu "GEO-DATA MO DOO" odlikuje posvećenost poslu, profesionalnost u odnosima sa klijentima kao i profesionalnost u izvrsavanju geodetskih radova.
        </p>
        <p>Precizno merenje, precizna dokumentacija, to su usluge koje možete očekivati od svog geodeta iz 1160 Beč. Dipl.-Ing. Robert Vagner je ovlašćeni i zakleti inženjerski konsultant za geodetske poslove i vaš partner za katastarske premere, principe
            projekta, premere objekata, geoinformacione sisteme i prateće savete i podršku.</p>
        <p> Kvalitet i poštovanje rokova su naš prioritet.</p>
    </div>
</div>
<div class="parallax"></div>
<div class="pozadina">
    <div class="container p-4">
        <h4>Naše usluge</h4>
        <p>Sve poslove koje preduzimamo za fizička lica ili kompanije obavljamo sa visokim nivoom preciznosti i pouzdanosti. Nudimo precizne geoinformacione sisteme i kreiramo osnove projekta kao što su planovi parifikacije, inventari i planovi fasada, kao
            i planovi lokacija i nadmorske visine. Dipl.-Ing. Robert Vagner je vaš partner za katastarske premjere i premjere objekata. Stručnjak i njegov tim će vas rado savetovati o kupovini i prodaji imovine i nadgledati projekte koji su u toku. Individualno
            odgovaramo na vaše zahteve i nudimo vam precizan i fleksibilan rad u Beču i okolini.</p>
    </div>
</div>