<div>
    <h5 class="comfortaa-font p-5 fs-3">Nudimo sledeće usluge:</h5>
</div>
<div class="container-fluid">

    <div class="card m-5" style="width: 32rem;">
        <img src="/assets/Foto/card1.jpg" class="card-img-top" alt="Katastar">
        <div class="card-body">
            <h5 class="card-title">Katastarska geodezija</h5>
            <p class="card-text">U toku katastarskih premera, dipl.-inž. Robert Vagner je odgovoran za pripremu graničnih katastarskih planova, određivanje granice, restauraciju granice, planove podele i parcelacije.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Upis objekata po zakonu o ozakonjenju i objedinjenoj proceduri
            </li>
            <li class="list-group-item">Upis podzemnih i nadzemnih instalacija
            </li>
            <li class="list-group-item">Obnavljanje granica parcela
            </li>
            <li class="list-group-item">Izdavanje kopija plana i listova nepokretnosti</li>
        </ul>
        <a href="#" routerLink="contact" class="btn btn-outline-info">Kontaktiraj nas</a>

    </div>
    <div class="card m-5" style="width: 32rem;">
        <img src="/assets/Foto/card3.jpg" class="card-img-top" alt="Katastar">
        <div class="card-body">
            <h5 class="card-title">Geodetski radovi pri izgradnji objekata</h5>
            <p class="card-text">U cilju osiguranja dovoljno tačnih izvornih materijala za dizajnere i potrebnu preciznost za graditelje nakon spovođenja projekta.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Obeležavanje širokog iskopa</li>
            <li class="list-group-item">Obeležavanje i kontrola temelja</li>
            <li class="list-group-item">Kontrola konstrukcije</li>
            <li class="list-group-item">Elaborati za objedinjenu proceduru (tehnički prijem)</li>
            <li class="list-group-item">Praćenje sleganja objekata</li>

        </ul>
        <a href="#" routerLink="contact" class="btn btn-outline-info">Kontaktiraj nas</a>

    </div>
</div>
<div class="card m-5" style="width: 32rem;">
    <img src="/assets/Foto/card2.jpg" class="card-img-top" alt="Katastar">
    <div class="card-body">
        <h5 class="card-title">Geodetske podloge za projektovanje
        </h5>
        <p class="card-text">Izrada topografskih i katastarsko topografskih podloga za potrebe projektovanja svih infrastrukturnih objekata</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Katastarsko-topografski planovi
        </li>
        <li class="list-group-item">
            Situacioni planovi</li>
    </ul>
    <a href="#" routerLink="contact" class="btn btn-outline-info">Kontaktiraj nas</a>

</div>

<div class="card m-5" style="width: 32rem;">
    <img src="/assets/Foto/card4.jpg" class="card-img-top" alt="Katastar">
    <div class="card-body">
        <h5 class="card-title">Geodetski radovi u industriji</h5>
        <p class="card-text">Snimanje i kontrola konstrukcije</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Snimak pravaca i raspona sina kranova (praćenje pri montaži)
        </li>
        <li class="list-group-item">
            Geodetski snimak kranova (mošnih dizalica)</li>
    </ul>
    <a href="#" routerLink="contact" class="btn btn-outline-info">Kontaktiraj nas</a>

</div>