<div class="bg-dark text-light text-center pocetak fixed-top pt-1">
    <div class="row">
        <div class="col-lg-4 col-sm-10">
            <p><i class="fa-solid fa-location-dot icon"></i>Karađorđeva 12, TC Danubius Lokal 268</p>
        </div>
        <div class="col-lg-4 col-sm-10">
            <p><i class="fa-regular fa-envelope icon"></i>geodatamo@gmail.com</p>
        </div>
        <div class="col-lg-4 col-sm-10">
            <p><i class="fa-solid fa-phone-volume icon"></i>064/363-87-85</p>
        </div>
    </div>
</div>
<div class="container pt-5">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <a class="navbar-brand ms-5 pe-5" href="#" routerLink="/">
                        <img src="/assets/Foto/logo.png" alt="Logo" width="110" height="70" class="d-inline-block align-text-top efekat">
                    </a>

                    <li class="nav-item m-lg-3">
                        <a class="nav-link active efekat" aria-current="page" href="#" routerLink="/">Početna</a>
                    </li>

                    <li class="nav-item dropdown  m-lg-3">
                        <a class="nav-link dropdown-toggle efekat" href="#" routerLink="about" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Usluge
            </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" routerLink="about">Katastarska geodezija</a></li>
                            <li><a class="dropdown-item" href="#" routerLink="about">Geodetske podloge za projektovanje</a></li>
                            <li><a class="dropdown-item" href="#" routerLink="about">Geodetski radovi pri izgradnji objekata</a></li>
                            <li><a class="dropdown-item" href="#" routerLink="about">Geodetski radovi u industriji</a></li>
                        </ul>
                    </li>
                    <!-- <li class="nav-item m-lg-3">
                        <a class="nav-link efekat" href="#" routerLink="galery">Galerija</a>
                    </li> -->
                    <li class="nav-item m-lg-3">
                        <a class="nav-link efekat" href="#" routerLink="contact">Kontakt</a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>
</div>