<div class="bg-dark text-light text-center pocetak p-1">
    <div class="row">
        <div class="col-lg-4 col-sm-10">
            <p><i class="fa-solid fa-location-dot icon"></i>Karađorđeva 12, TC Danubius Lokal 268</p>
        </div>
        <div class="col-lg-4 col-sm-10">
            <p><i class="fa-regular fa-envelope icon"></i>geodatamo@gmail.com</p>
        </div>
        <div class="col-lg-4 col-sm-10">
            <p><i class="fa-solid fa-phone-volume icon"></i>064/363-87-85</p>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" routerLink="/">Geo-Data MO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" routerLink="/">Početna</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" routerLink="app-about" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Usluge
            </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#" routerLink="app-about">Katastarska geodezija</a></li>
                        <li><a class="dropdown-item" href="#" routerLink="app-about">Geodetske podloge za projektovanje</a></li>
                        <li><a class="dropdown-item" href="#" routerLink="app-about">Geodetski radovi pri izgradnji objekata</a></li>
                        <li><a class="dropdown-item" href="#" routerLink="app-about">Geodetski radovi u industriji</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="app-galery">Galerija</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="app-contact">Kontakt</a>
                </li>
                <a class="navbar-brand" href="#" routerLink="/">
                    <img src="/assets/Foto/logo.png" alt="Logo" width="90" height="60" class="d-inline-block align-text-top">
                </a>
            </ul>
            <!-- <a class="navbar-brand" href="#">
                <img src="/assets/Foto/logo.png" alt="Logo" width="90" height="84" class="d-inline-block align-text-top"> Geo-Data MO
            </a> -->
        </div>
    </div>
</nav>


<h3>Geo-Data MO</h3>
<h5>Smederevo</h5>
<p>Geodetske usluge, geodetska merenja</p>
<p>Državni ovlašćeni inženjerski konsultant za geodetske poslove.</p>