<div class="divider-image">
    <img src="/assets/Foto/heero.png" class="d-block w-100" alt="Geometar">
    <div class="divider-text">
        <!-- <h1 class="efekat comfortaa-font">GEO-DATA MO DOO Smederevo</h1> -->
        <a class="comfortaa-font fs-1 efekat" href="#" routerLink="/">Geo-Data MO Smederevo</a>

        <p>Državni ovlašćeni inženjerski konsultant za geodetske poslove</p>
        <a href="#" routerLink="contact" class="btn btn-dark">Kontaktiraj nas</a>
    </div>
</div>

<!-- <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active herowidge">
            <img src="/assets/Foto/hero11.jpg" class="d-block w-100 pic" alt="Geometar">
            <div class="carousel-caption d-none d-md-block">
                <h1 class="comfortaa-font">GEO-DATA MO Smederevo</h1>
                <p>Državni ovlašćeni inženjerski konsultant za geodetske poslove.

                </p>
            </div>
        </div>
        <div class="carousel-item herowidge">
            <img src="/assets/Foto/hero5.jpg" class="d-block w-100 pic" alt="U prirodi">
            <div class="carousel-caption d-none d-md-block">
                <h1 class="comfortaa-font">GEO-DATA MO Smederevo</h1>
                <p>Državni ovlašćeni inženjerski konsultant za geodetske poslove.

                </p>
            </div>
        </div>
        <div class="carousel-item herowidge">
            <img src="/assets/Foto/hero4.jpg" class="d-block w-100 pic" alt="Na gradilistu">
            <div class="carousel-caption d-none d-md-block">
                <h1 class="comfortaa-font">GEO-DATA MO Smederevo</h1>
                <p>Državni ovlašćeni inženjerski konsultant za geodetske poslove.
                </p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div> -->